In [1]:
#for loop

In [5]:
#1
for i in range(21):
    print(i)
    i+=1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [6]:
#2
for i in range(1, 11):
    print(f"square of {i} is {i*i}")
    i+=1

square of 1 is 1
square of 2 is 4
square of 3 is 9
square of 4 is 16
square of 5 is 25
square of 6 is 36
square of 7 is 49
square of 8 is 64
square of 9 is 81
square of 10 is 100

In [7]:
#3
for i in range(2, 41):
    if i%2==0:
        print(i)
    i+=1

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40

In [10]:
#4
for i in range (1,11):
    print(f"12 * {i} is equals to: {12*i}")
    i+=1

12 * 1 is equals to: 12
12 * 2 is equals to: 24
12 * 3 is equals to: 36
12 * 4 is equals to: 48
12 * 5 is equals to: 60
12 * 6 is equals to: 72
12 * 7 is equals to: 84
12 * 8 is equals to: 96
12 * 9 is equals to: 108
12 * 10 is equals to: 120

In [12]:
#5
n = int(input("enter num:"))
fact = 1
for i in range(1,n+1):
    fact = fact*i
    i+=1
print(fact)

enter num: 5

120

In [15]:
#6
lst = [1,2,3,4,5,6,7,8,9,10]
for i in range(len(lst)):
    print(lst[i])

1
2
3
4
5
6
7
8
9
10

In [17]:
#7
string = "abjhhfgwigfbfewfougfhhsdvbv"
vowels = "aeiou"
count = 0
for char in string:
    if char in vowels:
        count +=1
print(count)

5

In [18]:
#8
rows = 5
for i in range(1, rows + 1):
    for j in range(i):
        print("*", end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [20]:
#9
for i in range(100,0, -1):
    print(i)

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [ ]:
#10
sum = 0
for i in range(26):
    if i%2!=0:
        print(i)
        sum = sum