In [78]:
fruits = ("apple", "banana", "cherry","mango", "kiwi") #1
print("The tuple is :", fruits)

The tuple is : ('apple', 'banana', 'cherry', 'mango', 'kiwi')

In [79]:
mix_tuple = ("abc", 12, 12.3, True) #2
print("The tuple with mixed data type is: ",mix_tuple)
print("First element is:", mix_tuple[0])
print("Second element is:", mix_tuple[1])
print("Third element is:", mix_tuple[2])
print("Fourth element is:", mix_tuple[3])

The tuple with mixed data type is:  ('abc', 12, 12.3, True)
First element is: abc
Second element is: 12
Third element is: 12.3
Fourth element is: True

In [80]:
country = ("India", ("Maharashtra", "Rajasthan", "Gujarat")) #3
print("The nested tuple is:", country)

The nested tuple is: ('India', ('Maharashtra', 'Rajasthan', 'Gujarat'))

In [81]:
print("The last element of tuple is:", mix_tuple[-1]) #4

The last element of tuple is: True

In [82]:
print("The first three element of the tuple are:", mix_tuple[:3]) #5

The first three element of the tuple are: ('abc', 12, 12.3)

In [83]:
student = ("Alice", "Bob", "Charlie", "David", "Einstein")
print("The length of the tuple is:", len(student)) #6

The length of the tuple is: 5

In [84]:
marks = (89, 79, 83, 91, 76) #7
print("The integer tuple is:", marks)
print("The minimum value from the tuple is:", min(marks))
print("The maximum value from the tuple is:", max(marks))

The integer tuple is: (89, 79, 83, 91, 76)
The minimum value from the tuple is: 76
The maximum value from the tuple is: 91

In [85]:
print("The sum of marks is:", sum(marks)) #8

The sum of marks is: 418

In [86]:
sorted_tuple = tuple(list(sorted(marks))) #9
print("The sorted tuple is:", sorted_tuple)

The sorted tuple is: (76, 79, 83, 89, 91)

In [87]:
sorted_tuple1 = tuple(list(sorted(marks, reverse=True))) #10
print("The sorted tuple in decending order is:", sorted_tuple1)

The sorted tuple in decending order is: (91, 89, 83, 79, 76)

In [88]:
print("The number of times 89 appeared in marks is:", marks.count(89)) #11

The number of times 89 appeared in marks is: 1

In [89]:
print(fruits)
print("The index of cherry in fruits tuple is:", fruits.index("cherry")) #12

('apple', 'banana', 'cherry', 'mango', 'kiwi')
The index of cherry in fruits tuple is: 2

In [90]:
print("Is chikoo present in fruits?:", "chikoo" in fruits) #13

Is chikoo present in fruits?: False

In [91]:
print("Is mango not present in fruits?:", "mango" not in fruits) #14

Is mango not present in fruits?: False

In [92]:
num = tuple(range(1,11)) #15
print("The tuple from a range of 1 to 10 is:", num)

The tuple from a range of 1 to 10 is: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [93]:
boolean = (1,0,1,1,1,0) #16
print("Is any boolean is true?:", any(boolean))

Is any boolean is true?: True

In [94]:
print("Is all boolean are true?:", all(boolean)) #17

Is all boolean are true?: False

In [95]:
first_name = ("bhakti", "Isha") #18
last_name = ("gundecha", "Kadam")
full_name = first_name + last_name
print("The concatenated tuple is :", full_name)

The concatenated tuple is : ('bhakti', 'Isha', 'gundecha', 'Kadam')

In [96]:
first_name = ("bhakti") #18
last_name = ("gundecha")
full_name = first_name + last_name
print("The concatenated tuple is :", ful_name)

NameError: name 'ful_name' is not defined

In [97]:
sub = ("AI", "ML") #19
repeated = tuple(sub*3)
print("The tuple with repetition is :", repeated)

The tuple with repetition is : ('AI', 'ML', 'AI', 'ML', 'AI', 'ML')

In [98]:
student_marks = tuple(zip(student,marks)) #20
print("The students with marks are:", student_marks)

The students with marks are: (('Alice', 89), ('Bob', 79), ('Charlie', 83), ('David', 91), ('Einstein', 76))

In [99]:
reversed_tuple = tuple(reversed(sorted_tuple)) #21
print("The sorted tuple is:", sorted_tuple)
print("The reversed tuple of sorted_tuple is:", reversed_tuple)

The sorted tuple is: (76, 79, 83, 89, 91)
The reversed tuple of sorted_tuple is: (91, 89, 83, 79, 76)

In [100]:
employee = ("riya", "sia", "tarun", "abhay", "ranveer") #22
print("The alphabetically first element is:", min(employee))
print("The alphabetically last element is:", max(employee))

The alphabetically first element is: abhay
The alphabetically last element is: tarun

In [101]:
student1 = ("Bhakti", "Jayantilal", "Gundecha") #23
first_name, middle_name, last_name = student1
print("The first name of the student is:", first_name)
print("The middle name of the student is:", middle_name)
print("The last name of the student is:", last_name)

The first name of the student is: Bhakti
The middle name of the student is: Jayantilal
The last name of the student is: Gundecha

In [102]:
student1[0] = "Tarun" #24
print("The student1 tuple after modification is:", student1)
#Hence tuple are immutable

TypeError: 'tuple' object does not support item assignment

In [113]:
lst = [ 1,2,3,4,5] #25
tppl = (1,2,3,4,5)
print("The memory size of the lst is:",sys.getsizeof(lst))
print("The memory size of the tppl is:",sys.getsizeof(tppl))

NameError: name 'sys' is not defined

In [111]:
number = (67,98,46,96,36,90,10) #26
print("The tuple of numbers is:", number)
print("The average of the numbers is:", sum(number)/len(number))

The tuple of numbers is: (67, 98, 46, 96, 36, 90, 10)
The average of the numbers is: 63.285714285714285

In [105]:
print("The tupple of fruits is:", fruits) #27
print("The tupple with reverse order is:", fruits[::-1])

The tupple of fruits is: ('apple', 'banana', 'cherry', 'mango', 'kiwi')
The tupple with reverse order is: ('kiwi', 'mango', 'cherry', 'banana', 'apple')

In [106]:
print("The tuple of numbers is:", marks) #28
marks_new = list(marks)
marks_new.append(78)
new_tuple = tuple(marks_new)
print("The tuple with appended num by converting to list and tuple again is:", new_tuple)

The tuple of numbers is: (89, 79, 83, 91, 76)
The tuple with appended num by converting to list and tuple again is: (89, 79, 83, 91, 76, 78)

In [107]:
employee = ("Rushi", 21, "Managing") #29
name, age, department = employee
print("EMPLOYEE")
print("Name :", name)
print("Age :", age)
print("Department :", department)

EMPLOYEE
Name : Rushi
Age : 21
Department : Managing

In [108]:
product_name = ("Bislari", "Kinley", "Evocus") #30
price = (20,15,50)
water_bottle = tuple(zip(price, product_name))
print("The water bottle company and its price are:", water_bottle)

The water bottle company and its price are: ((20, 'Bislari'), (15, 'Kinley'), (50, 'Evocus'))

In [109]:
sorted_price = tuple(sorted(water_bottle, reverse=True))
print("The sorted tuple according to pric is:", sorted_price)

The sorted tuple according to pric is: ((50, 'Evocus'), (20, 'Bislari'), (15, 'Kinley'))