In [50]:
country = {"India","America","Nepal","pakistan","Bangladesh"} #1
print("The country set is :", country)

The country set is : {'America', 'pakistan', 'Nepal', 'Bangladesh', 'India'}

In [51]:
num_set = {12,54,12,76,23,8,12} #2
print("Set with duplicates:", num_set)

Set with duplicates: {54, 23, 8, 12, 76}

In [52]:
fruits = ["apple", "banana","cherry"] #3
fruit_set = set(fruits)
print("Set from list of fruits: ", fruit_set)

Set from list of fruits:  {'cherry', 'apple', 'banana'}

In [53]:
fruit_set.add("mango") #4
print("Set after add():", fruit_set)

Set after add(): {'cherry', 'apple', 'mango', 'banana'}

In [54]:
fruit_set.update(["pineapple","chikoo"]) #5
print("Set after update():", fruit_set)

Set after update(): {'apple', 'mango', 'chikoo', 'cherry', 'pineapple', 'banana'}

In [55]:
fruit_set.add("mango") #6
print(fruit_set)

{'apple', 'mango', 'chikoo', 'cherry', 'pineapple', 'banana'}

In [56]:
fruit_set.remove("chikoo") #7
print("Set after remove():", fruit_set)

Set after remove(): {'apple', 'mango', 'cherry', 'pineapple', 'banana'}

In [57]:
fruit_set.discard(34) #8
print("Set after discard():",fruit_set)

Set after discard(): {'apple', 'mango', 'cherry', 'pineapple', 'banana'}

In [58]:
removed_ele = fruit_set.pop() #9
print("Removed element is:", removed_ele)
print("Set after pop():", fruit_set)

Removed element is: apple
Set after pop(): {'mango', 'cherry', 'pineapple', 'banana'}

In [59]:
fruit_set.clear() #10
print("Set after clear():", fruit_set)

Set after clear(): set()

In [60]:
A = {1,4,2,7,8,6} #11
B = {3,9,6,2,1,4}
print("Set A is :", A)
print("Set B is :", B)
print("Union of set A and B is(A|B):", A|B)

Set A is : {1, 2, 4, 6, 7, 8}
Set B is : {1, 2, 3, 4, 6, 9}
Union of set A and B is(A|B): {1, 2, 3, 4, 6, 7, 8, 9}

In [61]:
#12
print("Intersection of A and B is (A&B):", A&B)

Intersection of A and B is (A&B): {1, 2, 4, 6}

In [62]:
#13
print("Unique element of set A by differance is:", A-B)

Unique element of set A by differance is: {8, 7}

In [63]:
#14
print("Symmetric diff between set A and B is :", A^B)

Symmetric diff between set A and B is : {3, 7, 8, 9}

In [64]:
print("Is A is subset of B?:", A.issubset(B)) #15

Is A is subset of B?: False

In [65]:
#16
print("Is B is superset of A?", B.issuperset(A))

Is B is superset of A? False

In [66]:
print("Is A and B have no common elements?:", A.isdisjoint(B)) #17

Is A and B have no common elements?: False

In [67]:
print("Is 6 present in set A?:", 6 in A) #18

Is 6 present in set A?: True

In [68]:
print("Is 20 not present in setB?:", 20 not in B) #19

Is 20 not present in setB?: True

In [69]:
print("Total num of elements in set A is:", len(A)) #20

Total num of elements in set A is: 6

In [70]:
print("Max in set A :", max(A)) #21
print("Min in set B :", min(B)) #21

Max in set A : 8
Min in set B : 1

In [71]:
print("Sum of all elements in set A :", sum(A)) #22

Sum of all elements in set A : 28

In [72]:
sorted_listA = list(sorted(A)) #23
print("The sorted list from set A is:", sorted_listA)

The sorted list from set A is: [1, 2, 4, 6, 7, 8]

In [73]:
sorted_listB = list(sorted(B, reverse= True)) #24
print("The sorted list from set B in decending order is:", sorted_listB)

The sorted list from set B in decending order is: [9, 6, 4, 3, 2, 1]

In [74]:
status = {0,1,0,1,1}
print("Is any status are True?:", any(status)) #25
print("Is all status are True?:", all(status)) #26

Is any status are True?: True
Is all status are True?: False

In [75]:
c = A.copy() #27
print("Copied set :", c)
c.add(3)
print("After add() on copied set, the copied set is:", c)
print("Original set is :", A) #Both are independent

Copied set : {1, 2, 4, 6, 7, 8}
After add() on copied set, the copied set is: {1, 2, 3, 4, 6, 7, 8}
Original set is : {1, 2, 4, 6, 7, 8}

In [76]:
del A # 28
# deleted entire set A

In [77]:
print("Set after del keyword:", A)

NameError: name 'A' is not defined

In [78]:
lst = [ 12,65,13,87,12,65,45,24,15] #29
data = set(lst)
print("The set from list is:", data) #duplicates remove

The set from list is: {65, 12, 45, 13, 15, 87, 24}

In [79]:
classA = {"Apurva", "Tanisha", "Manthan", "Advait"} #30
classB = {"Tanisha", "Sarthak", "Soham", "Isha"}
print("Class A students are:", classA)
print("Class B students are:", classB)

Class A students are: {'Tanisha', 'Manthan', 'Advait', 'Apurva'}
Class B students are: {'Sarthak', 'Soham', 'Isha', 'Tanisha'}

In [80]:
#Common students 30(a)
print("Common students from class A and B are :", classA&classB)

Common students from class A and B are : {'Tanisha'}

In [81]:
#students only in class A 30(b)
print("Students only in class A are:", classA-classB)

Students only in class A are: {'Manthan', 'Advait', 'Apurva'}

In [82]:
#all unique students 30(c)
print("All unique students from both class :", classA| classB)

All unique students from both class : {'Advait', 'Apurva', 'Isha', 'Sarthak', 'Soham', 'Manthan', 'Tanisha'}