In [5]:
# 1. Create a Pandas Series using a list of 5 random numbers and custom index names.
#     Then print the series and its data type.

In [6]:
import pandas as pd
lst = [12,43,23,76,25]
series = pd.Series(lst, index = [1,2,3,4,5])
print("Pandas series is:\n", series)

Pandas series is:
 1    12
2    43
3    23
4    76
5    25
dtype: int64

In [34]:
# 2. Create a DataFrame with columns: "Student_Name", "Maths", "Science", "English".
#     Fill it with 5 sample student records and display the top 3 rows using head().
data = {
    "Student_Name": ["Bhakti", "Isha", "Rutuja", "Saniya", "Aditi"],
    "Maths_score": [99,91,90,89,78],
    "Science_score": [90,92,89,93,67],
    "English_score": [98,88,90,85,78]
}
df = pd.DataFrame(data)
print("The data frame is:\n", df)
print("\nTop 3 rows are:\n", df.head(3))

The data frame is:
   Student_Name  Maths_score  Science_score  English_score
0       Bhakti           99             90             98
1         Isha           91             92             88
2       Rutuja           90             89             90
3       Saniya           89             93             85
4        Aditi           78             67             78

Top 3 rows are:
   Student_Name  Maths_score  Science_score  English_score
0       Bhakti           99             90             98
1         Isha           91             92             88
2       Rutuja           90             89             90

In [50]:
#3.Import a CSV file (use any sample dataset) into a DataFrame.
#Display the number of rows and columns using shape, and print column names
print("Number of rows and columns in data frame is:", df.shape)
print("Columns in data frame are:", df.columns)

Number of rows and columns in data frame is: (5, 6)
Columns in data frame are: Index(['Student_Name', 'Maths_score', 'Science_score', 'English_score',
       'Total_marks', 'Average'],
      dtype='object')

In [36]:
# 4. Add a new column named "Total_Marks" that sums all three subject scores.
#     Then create another column "Average" by dividing Total_Marks by 3.

In [37]:
df["Total_marks"] = df["Maths_score"]+df["English_score"]+df["Science_score"]
df["Average"] = df["Total_marks"]/3
print("Updated data frame is:\n", df)

Updated data frame is:
   Student_Name  Maths_score  Science_score  English_score  Total_marks  \
0       Bhakti           99             90             98          287
1         Isha           91             92             88          271
2       Rutuja           90             89             90          269
3       Saniya           89             93             85          267
4        Aditi           78             67             78          223

     Average
0  95.666667
1  90.333333
2  89.666667
3  89.000000
4  74.333333

In [38]:
# 5. Introduce a missing value (NaN) in the "Science" column and then:
#     (a) Identify missing values using isnull()
#     (b) Replace the missing value with the column mean using fillna().

In [39]:
df.loc[2, "Science_score"] = None
print("\nData frame with missing value:\n", df)
print(df.isnull()) #a
df["Science_score"].fillna(df["Science_score"].mean(), inplace=True) #b
print("\ndata frame after using fillna():\n",df)

Data frame with missing value:
   Student_Name  Maths_score  Science_score  English_score  Total_marks  \
0       Bhakti           99           90.0             98          287
1         Isha           91           92.0             88          271
2       Rutuja           90            NaN             90          269
3       Saniya           89           93.0             85          267
4        Aditi           78           67.0             78          223

     Average
0  95.666667
1  90.333333
2  89.666667
3  89.000000
4  74.333333
   Student_Name  Maths_score  Science_score  English_score  Total_marks  \
0         False        False          False          False        False
1         False        False          False          False        False
2         False        False           True          False        False
3         False        False          False          False        False
4         False        False          False          False        False

   Average
0    False
1    False
2    False
3    False
4    False

data frame after using fillna():
   Student_Name  Maths_score  Science_score  English_score  Total_marks  \
0       Bhakti           99           90.0             98          287
1         Isha           91           92.0             88          271
2       Rutuja           90           85.5             90          269
3       Saniya           89           93.0             85          267
4        Aditi           78           67.0             78          223

     Average
0  95.666667
1  90.333333
2  89.666667
3  89.000000
4  74.333333

In [40]:
# 6. Filter and display all students whose "Average" score is greater than 75.

In [41]:
print("Student whose average is greater than 75:\n", df[df["Average"] > 75])

Student whose average is greater than 75:
   Student_Name  Maths_score  Science_score  English_score  Total_marks  \
0       Bhakti           99           90.0             98          287
1         Isha           91           92.0             88          271
2       Rutuja           90           85.5             90          269
3       Saniya           89           93.0             85          267

     Average
0  95.666667
1  90.333333
2  89.666667
3  89.000000

In [42]:
# 7. Sort the DataFrame by "Total_Marks" in descending order and show the top 3 performers.

In [43]:
sorted_df = df.sort_values(by = "Total_marks", ascending=False)
print("The top 3 performers are:\n", sorted_df.head(3))

The top 3 performers are:
   Student_Name  Maths_score  Science_score  English_score  Total_marks  \
0       Bhakti           99           90.0             98          287
1         Isha           91           92.0             88          271
2       Rutuja           90           85.5             90          269

     Average
0  95.666667
1  90.333333
2  89.666667

In [44]:
#8. Group students based on their "English" score range (like above or below 70)
#     and find the mean of "Maths" and "Science" marks for each group.

In [52]:
df['English_Range'] = df['English_score'].apply(lambda x: 'Above 70' if x >= 70 else 'Below 70')
result = df.groupby('English_Range')[['Maths_score', 'Science_score']].mean()
print(result)

               Maths_score  Science_score
English_Range
Above 70              89.4           85.5

In [45]:
#9. Merge two DataFrames:
#     (a) One with "Student_Name" and "Total_Marks"
#     (b) Another with "Student_Name" and "Sports_Score"
#     Then create a new column "Overall_Score" = Total_Marks + Sports_Score.

In [47]:
data_dict = pd.DataFrame({
    "Student_Name": ["Bhakti", "Isha", "Rutuja", "Saniya", "Aditi"],
    "Sport_score": [70,80,75,80,80]
})
merged = pd.merge(df, data_dict, on="Student_Name")
print(merged)

  Student_Name  Maths_score  Science_score  English_score  Total_marks  \
0       Bhakti           99           90.0             98          287
1         Isha           91           92.0             88          271
2       Rutuja           90           85.5             90          269
3       Saniya           89           93.0             85          267
4        Aditi           78           67.0             78          223

     Average  Sport_score
0  95.666667           70
1  90.333333           80
2  89.666667           75
3  89.000000           80
4  74.333333           80

In [48]:
merged["Overall_score"] = merged["Total_marks"]+merged["Sport_score"]
print(merged)

  Student_Name  Maths_score  Science_score  English_score  Total_marks  \
0       Bhakti           99           90.0             98          287
1         Isha           91           92.0             88          271
2       Rutuja           90           85.5             90          269
3       Saniya           89           93.0             85          267
4        Aditi           78           67.0             78          223

     Average  Sport_score  Overall_score
0  95.666667           70            357
1  90.333333           80            351
2  89.666667           75            344
3  89.000000           80            347
4  74.333333           80            303

In [49]:
#10. Export the final DataFrame to a CSV file on your Desktop (use os library to define path)
#     and verify if the file is successfully created using os.path.exists().

In [54]:
import os

desktop_path = os.path.join(os.path.expanduser("~"), "Desktop")
file_name = "Final_Student_Data.csv"
full_path = os.path.join(desktop_path, file_name)

merged.to_csv(full_path, index=False)

if os.path.exists(full_path):
    print(f"Success! The file has been created at: {full_path}")
else:
    print("Error: The file was not created.")

Success! The file has been created at: C:\Users\Gundecha\Desktop\Final_Student_Data.csv