In [1]:
#Case Study: Employee Record Management Using Dictionary(ISHA KADAM)
#Write a Python program using a dictionary to store employee records. Each employee record should contain the employee name, department, and salary.

In [43]:
#Employee data
employee_data = {
    "101": {"name": "Isha", "department": "IT", "salary": 60000},
    "102": {"name": "Bhakti", "department": "HR", "salary": 45000},
    "103": {"name": "Saniya", "department": "Finance", "salary": 55000},
    "104": {"name": "Rutuja", "department": "IT", "salary": 70000},
    "105": {"name": "Anita", "department": "HR", "salary": 50000}
}

In [44]:
#Display all employees
print("All employee details :", employee_data)

All employee details : {'101': {'name': 'Isha', 'department': 'IT', 'salary': 60000}, '102': {'name': 'Bhakti', 'department': 'HR', 'salary': 45000}, '103': {'name': 'Saniya', 'department': 'Finance', 'salary': 55000}, '104': {'name': 'Rutuja', 'department': 'IT', 'salary': 70000}, '105': {'name': 'Anita', 'department': 'HR', 'salary': 50000}}

In [45]:
# Find total numbers of employees
print("Total Employees are:", len(employee_data))

Total Employees are: 5

In [46]:
#Display names of all employees
print("Employee Names are:")
for emp in employee_data.values():
    print(emp["name"])

Employee Names are:
Isha
Bhakti
Saniya
Rutuja
Anita

In [47]:
#Find employee working in IT Department
print("Employee in IT department are:")
for emp in employee_data.values():
    if emp["department"] == "IT":
        print(emp["name"])

Employee in IT department are:
Isha
Rutuja

In [48]:
#Calculate total salary expences
total_salary = 0
for emp in employee_data.values():
    total_salary+=emp["salary"]
print("Total salary expenses:", total_salary)

Total salary expenses: 280000

In [49]:
#Find highest paid employee
highest_paid = max(employee_data.values(), key=lambda x:x["salary"])
print("Highest paid employee is:", highest_paid["name"],highest_paid["salary"])

Highest paid employee is: Rutuja 70000

In [50]:
#Find lowest paid employee
lowest_paid = min(employee_data.values(), key=lambda x:x["salary"])
print("Lowest paid employee is:", lowest_paid["name"],lowest_paid["salary"])

Lowest paid employee is: Bhakti 45000

In [51]:
#Increase salary of IT employee by 10%
for emp in employee_data.values():
    if emp["department"] == "IT":
        emp["salary"]+=emp["salary"]*0.10
        print(emp["name"],emp["department"], emp["salary"])

Isha IT 66000.0
Rutuja IT 77000.0

In [52]:
#Count employee department wise
dept_count = {}
for emp in employee_data.values():
    dept = emp["department"]
    dept_count[dept] = dept_count.get(dept,0)+1
print("Department wise Employee count is:", dept_count)

Department wise Employee count is: {'IT': 2, 'HR': 2, 'Finance': 1}

In [53]:
#Add new employee 
employee_data["106"] = {
    "name":"Suresh",
    "department":"Finance",
    "salary":48000
}
print("Updated employee data:")
print(employee_data)

Updated employee data:
{'101': {'name': 'Isha', 'department': 'IT', 'salary': 66000.0}, '102': {'name': 'Bhakti', 'department': 'HR', 'salary': 45000}, '103': {'name': 'Saniya', 'department': 'Finance', 'salary': 55000}, '104': {'name': 'Rutuja', 'department': 'IT', 'salary': 77000.0}, '105': {'name': 'Anita', 'department': 'HR', 'salary': 50000}, '106': {'name': 'Suresh', 'department': 'Finance', 'salary': 48000}}

In [2]:
#Case study:Student Performance Management System(BHAKTI GUNDECHA)
#A university wants to build a Student Performance Management System to track 
#student's academic records across multiple subjects.
#Each student has an unique student ID, is enrolled in multiple subjects, has marks, attendance, and grades
#Can update and drop subjects, needs performance analytics

In [1]:
#Student dictionary
students = {
    "101": {
        "name": "Amit",
        "subjects": {
            "Math": {"marks": 85, "attendance": 90},
            "Physics": {"marks": 78, "attendance": 88}}},
    "102": {
        "name": "Neha",
        "subjects": {
            "Math": {"marks": 92, "attendance": 95},
            "Chemistry": {"marks": 81, "attendance": 85}}}}
print("Student details are:")   
print(students)

Student details are:
{'101': {'name': 'Amit', 'subjects': {'Math': {'marks': 85, 'attendance': 90}, 'Physics': {'marks': 78, 'attendance': 88}}}, '102': {'name': 'Neha', 'subjects': {'Math': {'marks': 92, 'attendance': 95}, 'Chemistry': {'marks': 81, 'attendance': 85}}}}

In [12]:
#1.Add a new student with ID, name, and an empty subject list
students["103"] = {
    "name": "Rahul",
    "subjects": {"Biology":{"marks":78, "attendance":74}}}
print("New Student:",students["103"])
print("All students are:", students)

New Student: {'name': 'Rahul', 'subjects': {'Biology': {'marks': 78, 'attendance': 74}}}
All students are: {'101': {'name': 'Amit', 'subjects': {'Math': {'marks': 85, 'attendance': 90}, 'Physics': {'marks': 78, 'attendance': 88}}}, '102': {'name': 'Neha', 'subjects': {'Math': {'marks': 92, 'attendance': 95}, 'Chemistry': {'marks': 81, 'attendance': 85}}}, '103': {'name': 'Rahul', 'subjects': {'Biology': {'marks': 78, 'attendance': 74}}}}

In [13]:
#2. Enroll Student in a New Subject
students["103"]["subjects"]["Chemistry"] = {
    "marks": 88,
    "attendance": 92
}
print("After Enrolling Subject:")
print(students["103"])

After Enrolling Subject:
{'name': 'Rahul', 'subjects': {'Biology': {'marks': 78, 'attendance': 74}, 'Chemistry': {'marks': 88, 'attendance': 92}}}

In [14]:
#3. Update Marks for a Subject
students["101"]["subjects"]["Math"]["marks"] = 90
print("After Updating Marks:")
print(students["101"]["subjects"]["Math"])

After Updating Marks:
{'marks': 90, 'attendance': 90}

In [15]:
#4. Safely Retrieve Student Details
student = students.get("104", "Student Not Found")
print("Student Search Result:")
print(student)

Student Search Result:
Student Not Found

In [16]:
#5. Remove a Subject
removed_subject = students["102"]["subjects"].pop("Chemistry")
print("Removed Subject Details:")
print(removed_subject)

Removed Subject Details:
{'marks': 81, 'attendance': 85}

In [17]:
#6. Delete a Student Record
students.pop("103")
print("After Removing Student S103:")
print(students.keys())

After Removing Student S103:
dict_keys(['101', '102'])

In [18]:
#7. Calculate Average Marks per Student
print("Average Marks:")
for sid, info in students.items():
    total = 0
    count = 0
    for sub in info["subjects"].values():
        total += sub["marks"]
        count += 1
    avg = total / count
    print(sid, ":", avg)

Average Marks:
101 : 84.0
102 : 92.0

In [19]:
#8. Find Subject Topper
subject = "Math"
topper = None
highest = 0
for sid, info in students.items():
    if subject in info["subjects"]:
        marks = info["subjects"][subject]["marks"]
        if marks > highest:
            highest = marks
            topper = info["name"]
print("Math Topper:")
print(topper, "-", highest)

Math Topper:
Neha - 92

In [20]:
#9. Generate Grade Report
grades = {}
for sid, info in students.items():
    total = sum(sub["marks"] for sub in info["subjects"].values())
    avg = total / len(info["subjects"])
    if avg >= 90:
        grades[sid] = "A"
    elif avg >= 80:
        grades[sid] = "B"
    else:
        grades[sid] = "C"
print("Grade Report:")
print(grades)

Grade Report:
{'101': 'B', '102': 'A'}

In [21]:
#10. Subject-wise Student Count
subject_count = {}
for info in students.values():
    for subject in info["subjects"]:
        subject_count.setdefault(subject, 0)
        subject_count[subject] += 1
print("Subject-wise Student Count:")
print(subject_count)

Subject-wise Student Count:
{'Math': 2, 'Physics': 1}